@import 'titles';
@import 'buttons';
@import 'variables';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bitter&Montserrat&fam&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  background-color: $lighter-grey;
}

/*  */
