/* Cyan */
$color-primary: #26c6da;
$color-light: #6ff9ff;
$color-dark: #0095a8;

$color-warning: orange;
$color-danger: red;

$lighter-grey: #eee;
$light-grey: #ddd;
$grey: #999;
$dark-grey: #676767;
$darker-grey: #333;


// /* Deep Orange */
// $color-primary: #ff7043;
// $color-light: #ffa270;
// $color-dark: #c63f17;

// /* Yellow */
// $color-primary: #ffee58;
// $color-light: #ffff8b;
// $color-dark: #c9bc1f;

// /* Pink */
// $color-primary: #ec407a;
// $color-light: #ff77a9;
// $color-dark: #b4004e;

// /* Indigo */
// $color-primary: #5c6bc0;
// $color-light: #8e99f3;
// $color-dark: #26418f;

// /* Light Green */
// $color-primary: #9ccc65;
// $color-light: #cfff94;
// $color-dark: #6b9b36;

