<div *ngIf="projectsList.length > 0">
  <h2>On-going projects</h2>
  <div class="list">
    <app-project-bloc *ngFor="let project of projectsList" [project]="project" class="list-item">
    </app-project-bloc>
  </div>
</div>

<div *ngIf="archivedList.length > 0">
  <h2>Archived</h2>
  <div class="list">
    <app-project-bloc *ngFor="let project of archivedList" [project]="project" class="list-item">
    </app-project-bloc>
  </div>
</div>

<div *ngIf="projectsList.length === 0 && archivedList.length === 0" class="placeholder">
  Create your first project to start !
</div>
